@import "assets/scss/globalStyles.scss";
.login {
  width: 100%;
}

p.login__button {
  background-color: rgb(33, 33, 33);
  color: #fff;
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  align-content: center;
  padding: 6px 20px;
  font-size: 0.9em;
  margin-top: 30px;
  margin-bottom: 0;
  border: 2px solid rgb(33, 33, 33);
  a {
    padding: 0;
    display: inline-flex;
    width: 100%;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1em;
  }
}
.login__lock {
  @include iconStyle("/assets/images/Lock.svg");
  filter: invert(1);
  margin-right: 6px;
}

.keyboard {
  width: 100%;
  margin-top: 30px;
}

.keyboard__shortcuts {
  padding: 0;
  display: inline-flex;
  align-items: center;
  align-content: center;
  margin: 0;
  opacity: 0.5;
  &:hover {
    color: rgba(0, 0, 0, 0.5);
  }
}

.keyboard__icon {
  @include iconStyle("/assets/images/Keyboard.svg");
  font-size: 1.4em;
  margin-right: 4px;
  margin-bottom: 2px;
}

.issues {
  width: 100%;
  margin-top: 20px;
}

.issues__shortcuts {
  padding: 0;
  display: inline-flex;
  align-items: center;
  align-content: center;
  margin: 0;
}

.issues__icon {
  @include iconStyle("/assets/images/Issues.svg");
  font-size: 1.4em;
  margin-right: 4px;
  margin-bottom: 2px;
}
