@import "assets/scss/globalStyles.scss";

.contact__facts {
  margin-bottom: 0;
  width: 100%;
}

.contact__social-links {
  display: flex;
  div {
    height: 30px;
    margin-bottom: 30px;
  }
  div + div {
    margin-left: 10px;
  }
}
.contact__hompage {
  border-left: 1px solid #d7d7d7;
  padding-left: 8px;
}
.contact__social-link {
  padding: 0;
  display: block;
  font-size: 1.9em;
}

.contact__social-facebook {
  @include iconStyle("/assets/images/Facebook.svg");
  font-size: 2em;
}

.contact__social-twitter {
  @include iconStyle("/assets/images/Twitter.svg");
  font-size: 2em;
}

.contact__social-instagram {
  @include iconStyle("/assets/images/Instagram.svg");
  font-size: 2em;
}

.contact__social-home {
  @include iconStyle("/assets/images/Home.svg");
  font-size: 2em;
}

p {
  margin: 0 0 20px 0;
  font-size: 1em;
  strong {
    display: block;
    font-weight: 600;
  }
}
