div.filter__panel {
  min-width: 260px;
  width: 260px;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.filter__name {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  padding: 14px 16px;
}
.title {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
}
.chevron_right {
  background-image: url(/assets/images/Direction.svg);
  width: 1em;
  height: 1em;
}
div.filter__panel + div.filter__panel {
  margin-top: 12px;
}

.filter__search {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 44px;
  background-color: rgba(228, 228, 228, 0.7);
  p {
    margin: 0;
  }
  a {
    font-size: 1.2em;
    line-height: 1;
    font-weight: 600;
    width: 100%;
    color: rgba(0, 0, 0, 0.5);
  }
}

.filter__title {
  width: 100%;
  margin-bottom: 20px;
  h2 {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    text-align: left;
  }
}
