.main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  background-color: #fff;
  margin-top: 64px;
  h3 {
    font-weight: 600;
    font-size: 1.3em;
  }
}
