@import "assets/scss/globalStyles.scss";

.videos {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  border-top-left-radius: 8px;
  display: flex;
  height: 300px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  font-size: 0;
}

.videos__video {
  min-width: 533px;
  height: 300px;
  border: none;
  margin-top: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.videos__trailer {
  width: 67px;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7);
  &:hover .videos__play-trailer {
    opacity: 0.6;
  }
}

.videos__play-trailer {
  @include iconStyle("/assets/images/PlayTrailer.svg");
  filter: invert(1);
  width: 50%;
  height: 50%;
  left: 1px;
}
