.leader-board {
  margin-bottom: 0;
  width: 100%;
  h4 {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 10px;
  }
}

.leader-board__edit {
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  a {
    padding: 0;
    display: inline-block;
    width: 45px;
    height: 45px;
  }
}

.leader-board__avatar {
  width: 45px;
  height: 45px;
}
.leader-board__image {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 50%;
}

.leader-board__info {
  padding-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

p.leader-board__edit-count {
  height: 35px;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  font-weight: 600;
  a {
    font-size: 0.9em;
    font-weight: lighter;
  }
}
a.leader-board__edit {
  padding: 0;
  &:hover {
    color: rgba(0, 0, 0, 0.5);
  }
}
