@import "assets/scss/globalStyles.scss";
.poster {
  min-width: 300px;
  width: 300px;
  height: auto;
  border-radius: 8px;
  &:hover {
    cursor: pointer;
  }
}
.poster__image {
  width: 300px;
  height: 450px;
  position: relative;
  top: 0;
  left: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  img {
    border-radius: 8px;
    display: block;
    width: 100%;
    height: 100%;
    border-width: 0px;
    outline: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.zoom {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  border-radius: 8px 8px 0 0;
  transition: linear 0.2s;
  backdrop-filter: blur(20px);
  opacity: 0;
}

div.modal__style {
  width: 750px;
  height: 585px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  z-index: 30001;
  opacity: 1;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__overlay {
  display: block;
  z-index: 30000;
  opacity: 0.5;
  filter: grayscale(100%);
  background-color: #000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.zoom__no-click {
  padding: 0;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  p {
    opacity: 0.8;
    margin: 3px 0px 0px 0px;
  }
}

.zoom__icon {
  margin-right: 6px;
  @include iconStyle("/assets/images/Expan.svg");
}
.offer {
  background-color: rgb(3, 37, 65);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.offer__text-wrapper {
  width: 100%;
  height: 60px;
  max-height: 60px;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.offer__button {
  display: flex;
  justify-content: center;
  width: 100%;
}

.offer__provider {
  display: flex;
  align-content: center;
  align-items: center;
  padding-right: 8px;
  img {
    border-radius: 4px;
  }
}
.offer__text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  h4 {
    line-height: 1em;
    display: block;
    opacity: 0.8;
    font-weight: 400;
    margin: 0;
  }
  h3 {
    display: block;
    font-size: 1em;
    line-height: 1em;
    margin: 0;
  }
}
