.discussions {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  a {
    padding: 0;
    &:hover {
      color: rgba(0, 0, 0, 0.5);
    }
  }
}

.discussions__post {
  width: 100%;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  color: #000;
  border: 1px solid rgb(227, 227, 227);
  box-sizing: border-box;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  font-weight: 300;
}

.discussions__post--info {
  width: 60%;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  flex-wrap: nowrap;
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
}

.discussions__post--avatars {
  display: flex;
}

.discussions__post--avatar {
  border-radius: 50%;
  float: none;
  width: 32px;
  height: 32px;
  display: inline-block;
  box-sizing: border-box;
  margin-right: 10px;
  a {
    border-radius: 50%;
    padding: 0;
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    margin: 0;
  }
  span {
    width: 100%;
    height: 100%;
    border: none;
  }
}

.discussions__post--pink {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.9em;
  font-weight: 600;
}

.discussions__post--link {
  display: flex;
  align-items: center;
  min-height: 32px;
}

.discussions__status {
  font-weight: 200;
  font-size: 0.9em;
  text-align: left;
  padding: 0;
  box-sizing: border-box;
  p {
    margin: 0;
  }
}
.discussions__status--open {
  margin: 0;
  padding-right: 40px;
}

.discussions__username {
  font-weight: 700;
}

.media-panel__button {
  margin: 20px 0 0 0;
  display: inline-block;
  a {
    padding: 0;
    font-weight: 600;
    font-size: 1.1em;
    &:hover {
      color: rgba(0, 0, 0, 0.5);
    }
  }
}
