@import "assets/scss/globalStyles.scss";

.media-panel {
  width: 100%;
  display: block;
  padding: 30px 0;
  border-top: 1px solid #d7d7d7;
}

.media-panel__menu {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  align-items: baseline;
  h3 {
    display: inline-block;
    margin-right: 50px;
    font-weight: 600;
    font-size: 1.4em;
    margin-bottom: 20px;
  }
  li {
    cursor: pointer;
    display: inline-block;
    margin-right: 24px;
    padding-bottom: 5px;
    font-size: 1.1em;
    box-sizing: border-box;
    font-weight: 600;
  }
  a {
    color: #000;
  }
  span {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    opacity: 0.6;
  }
}

.scroll-wrapper {
  position: relative;
  top: 0;
  left: 0;
}

.scroll {
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  padding-bottom: 10px;
  display: flex;
  width: 100%;
  border-radius: 8px;
}
