header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  height: 64px;
  z-index: 1;
  background-color: rgb(3, 37, 65);
  width: 100%;
  padding: 0 6%;
  a {
    color: var(--white);
    font-weight: 600;
    cursor: pointer;
  }
}

.header__function {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.header__nav {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  overflow: visible;
}

.header__logo {
  display: block;
  margin-right: 16px;
  width: 154px;
  height: 33px;
  padding: 8px 0px;
  img {
    display: block;
    width: 100%;
  }
}

header ul {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  li a {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 0;
  }
}

.header__list li:first-child {
  margin-left: 0;
}

.header__list li {
  margin-left: 30px;
}

.header__plus-icon {
  background-image: url(/assets/images/Plus.svg);
  position: relative;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
}
.header__navigation {
  display: flex;
  padding: 0;
  justify-content: flex-start;
  align-items: center;
  margin-top: 4px;
  li {
    position: relative;
    display: flex;
    margin-right: 14px;
    cursor: pointer;
    font-size: 1em;
    a {
      padding: 8px;
    }
  }
}

.header__translate div {
  width: 28px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 1px solid var(--white);
  border-radius: 3px;
  padding: 3px 5px;
  color: var(--white);
  font-weight: 600;
  font-size: 0.9em;
  &:hover {
    background-color: var(--white);
    color: #000;
    cursor: pointer;
  }
}

.search__link {
  display: inline-flex;
}
.search__icon {
  background-image: url(/assets/images/Search.svg);
  justify-content: center;
  min-width: 29px;
  min-height: 29px;
  background-position: center center;
  background-repeat: no-repeat;
}
.visible {
  top: 0;
  transition: top 0.2s linear;
}

.hidden {
  top: -80px;
  transition: top 0.2s linear;
}
