@import "assets/scss/globalStyles.scss";

.posters {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  border-top-left-radius: 8px;
  display: flex;
  height: 300px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  font-size: 0;
}

.posters__poster {
  width: 200px;
  height: 300px;
  img {
    width: 200px;
    height: 300px;
  }
}

.view-more {
  margin-left: 20px;
  margin-right: 50px;
  display: inline-flex;
  align-items: center;

  p {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    font-weight: bold;
    width: 103px;
    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}

.view-more__array-icon {
  @include iconStyle("/assets/images/RightArrow.svg");
  margin-left: 4px;
  font-size: 1.1em;
}
