.page_wrapper {
  margin-top: 19px;
  padding-left: 30px;
  width: 100%;
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}
.load_btn {
  margin-top: 30px;
  padding: 0;
  max-width: 100%;
  width: 100%;
  height: 50px;
  background-color: var(--ligh-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  p {
    margin: 0;
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
    &:hover {
      color: #000;
      cursor: pointer;
    }
  }
}
.progress_box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 4px;
  width: 100%;
  background-color: transparent;
  margin: 0px auto;
}

.loading_bar {
  background-color: var(--ligh-blue);
  height: inherit;
  transition: width ease-in 0.5s, opacity 0.2s;
}
