div.hover {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  width: 100%;
  height: 100%;
  border-radius: 8px;
  z-index: 10;
  opacity: 1;
}

.modal_container {
  z-index: 11;
  width: 273px;
  overflow: visible;
  top: 38px;
  left: 23px;
  margin-top: 0px;
  height: 153.4px;
  box-sizing: content-box;
  position: absolute;
}
.modal {
  position: absolute;
  display: flex;
  opacity: 1;
  background-color: var(--white);
  border-radius: 0.25rem;
  color: #000;
}
.modal_content {
  font-size: 1em;
  padding: 0;
  width: 100%;
  align-self: stretch;
  flex: 1 1 auto;
  text-overflow: ellipsis;
}
.group {
  padding: 8px 0;
  p {
    margin: 0;
    padding: 6px 20px;
    font-size: 0.8em;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
  }

  a {
    padding: 0;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
    background-color: transparent;
  }
}
p.hover:hover {
  margin: 0 1px;
  background-color: rgb(3, 37, 64);
  color: var(--white);
  a {
    color: var(--white);
  }
}
p.no_hover {
  background-color: transparent;
  color: #000;
  font-weight: 600;
}
.group_primary {
  border-top: 1px solid rgba(33, 37, 41, 0.15);
}
