@import "assets/scss/globalStyles.scss";
.recommendations {
  width: 100%;
  display: block;
  padding-bottom: 30px;
}

.recommendations__title {
  margin: 0;
  font-weight: 600;
  font-size: 1.4em;
  margin-bottom: 20px;
}

.recommendations__scrolled {
  position: relative;
  top: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  padding-bottom: 10px;
}

.recommendations__item {
  position: relative;
  display: inline-block;
  float: none;
  width: 250px;
  height: 141px;
  margin: 0 15px 0 0;
  img {
    width: 250px;
    height: 141px;
    border-radius: 8px;
  }
  &:hover .recommendations__meta {
    visibility: visible;
  }
}

p.recommendations__movie {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

a.recommendations__title {
  font-weight: 400;
  font-size: 1em;
  padding: 0;
}

span.vote_average {
  padding-top: 0;
  margin-right: 0;
  display: inline-flex;
  align-items: center;
}

.recommendations__meta {
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.recommendations__realease-date {
  font-size: 1em;
  display: inline-flex;
  align-items: center;
}

.recommendations__calender {
  margin-right: 4px;
  @include iconStyle("/assets/images/Calender.svg");
}

.recommendations__picture {
  @include iconStyle("/assets/images/Holder.svg");
  width: 100%;
  height: 100%;
  background-color: #dbdbdb;
  background-size: 50%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #d7d7d7;
}
