@import "assets/scss/globalStyles.scss";

.view-more {
  margin-left: 20px;
  margin-right: 50px;
  display: inline-flex;
  align-items: center;

  p {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    font-weight: bold;
    width: 103px;
    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}

.view-more__array-icon {
  @include iconStyle("/assets/images/RightArrow.svg");
  margin-left: 4px;
  font-size: 1.1em;
}
